.app{
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightsteelblue;
}

.circle{
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: lightgreen;
}

.sidenav{
  position: absolute;
  top: 15px;
  left: 8px;
}